apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echoe438a79e-fd0b-4efe-af75-38dce7bde8d3.fullname" . }}
  labels:
    {{- include "go-echoe438a79e-fd0b-4efe-af75-38dce7bde8d3.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echoe438a79e-fd0b-4efe-af75-38dce7bde8d3.selectorLabels" . | nindent 4 }}
