apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo3dac0a94-349b-4172-8ce3-7b76cb11ecd0.fullname" . }}
  labels:
    {{- include "go-echo3dac0a94-349b-4172-8ce3-7b76cb11ecd0.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo3dac0a94-349b-4172-8ce3-7b76cb11ecd0.selectorLabels" . | nindent 4 }}
