apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo9fdf956d-e845-4ba2-ab3a-1623a707952a.fullname" . }}
  labels:
    {{- include "go-echo9fdf956d-e845-4ba2-ab3a-1623a707952a.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo9fdf956d-e845-4ba2-ab3a-1623a707952a.selectorLabels" . | nindent 4 }}
