apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo6f7a16bc-d20a-4843-8864-b039cc9b8315.fullname" . }}
  labels:
    {{- include "go-echo6f7a16bc-d20a-4843-8864-b039cc9b8315.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo6f7a16bc-d20a-4843-8864-b039cc9b8315.selectorLabels" . | nindent 4 }}
