apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo505ae293-b66c-4b68-bb90-a562aecdcc24.fullname" . }}
  labels:
    {{- include "go-echo505ae293-b66c-4b68-bb90-a562aecdcc24.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo505ae293-b66c-4b68-bb90-a562aecdcc24.selectorLabels" . | nindent 4 }}
