apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo153aeeb7-6645-45ff-a681-6788ea7dad2b.fullname" . }}
  labels:
    {{- include "go-echo153aeeb7-6645-45ff-a681-6788ea7dad2b.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo153aeeb7-6645-45ff-a681-6788ea7dad2b.selectorLabels" . | nindent 4 }}
