apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo27f01218-7921-4719-9ff2-57fe5a61807b.fullname" . }}
  labels:
    {{- include "go-echo27f01218-7921-4719-9ff2-57fe5a61807b.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo27f01218-7921-4719-9ff2-57fe5a61807b.selectorLabels" . | nindent 4 }}
