apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo1485abd9-767b-4204-817c-5eefed7aac56.fullname" . }}
  labels:
    {{- include "go-echo1485abd9-767b-4204-817c-5eefed7aac56.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo1485abd9-767b-4204-817c-5eefed7aac56.selectorLabels" . | nindent 4 }}
