apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo3f822f21-6904-427f-bf19-816cfb8a2c0e.fullname" . }}
  labels:
    {{- include "go-echo3f822f21-6904-427f-bf19-816cfb8a2c0e.labels" . | nindent 4 }}
    kubernetes.azure.com/generator: devhub
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo3f822f21-6904-427f-bf19-816cfb8a2c0e.selectorLabels" . | nindent 4 }}
