apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo7ea97c0d-aafb-4af7-86b9-d7d7185b1ce5.fullname" . }}
  labels:
    {{- include "go-echo7ea97c0d-aafb-4af7-86b9-d7d7185b1ce5.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo7ea97c0d-aafb-4af7-86b9-d7d7185b1ce5.selectorLabels" . | nindent 4 }}
