apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo7e27b521-1b4e-4d88-9008-7f8bf42fd9f9.fullname" . }}
  labels:
    {{- include "go-echo7e27b521-1b4e-4d88-9008-7f8bf42fd9f9.labels" . | nindent 4 }}
    kubernetes.azure.com/generator: devhub
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo7e27b521-1b4e-4d88-9008-7f8bf42fd9f9.selectorLabels" . | nindent 4 }}
