apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo35836354-b2ae-4eba-b645-abf1fc4343e1.fullname" . }}
  labels:
    {{- include "go-echo35836354-b2ae-4eba-b645-abf1fc4343e1.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo35836354-b2ae-4eba-b645-abf1fc4343e1.selectorLabels" . | nindent 4 }}
