apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo2908d28b-06a2-4c8b-b22d-ab0f784db5d3.fullname" . }}
  labels:
    {{- include "go-echo2908d28b-06a2-4c8b-b22d-ab0f784db5d3.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo2908d28b-06a2-4c8b-b22d-ab0f784db5d3.selectorLabels" . | nindent 4 }}
