apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo4d429f43-04bd-4275-974d-62fa96b297a0.fullname" . }}
  labels:
    {{- include "go-echo4d429f43-04bd-4275-974d-62fa96b297a0.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo4d429f43-04bd-4275-974d-62fa96b297a0.selectorLabels" . | nindent 4 }}
