apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echoa864004a-17e7-46f8-b1c2-d1c0c657deb7.fullname" . }}
  labels:
    {{- include "go-echoa864004a-17e7-46f8-b1c2-d1c0c657deb7.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echoa864004a-17e7-46f8-b1c2-d1c0c657deb7.selectorLabels" . | nindent 4 }}
