apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo3b48cc1c-9c61-4627-bf6e-ee287bbc861b.fullname" . }}
  labels:
    {{- include "go-echo3b48cc1c-9c61-4627-bf6e-ee287bbc861b.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo3b48cc1c-9c61-4627-bf6e-ee287bbc861b.selectorLabels" . | nindent 4 }}
