apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo1a83ac6f-6b25-482f-92c7-86fa3fe093e0.fullname" . }}
  labels:
    {{- include "go-echo1a83ac6f-6b25-482f-92c7-86fa3fe093e0.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo1a83ac6f-6b25-482f-92c7-86fa3fe093e0.selectorLabels" . | nindent 4 }}
