apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echo7956a362-9ac2-49e6-adad-0ab4b29c5ccc.fullname" . }}
  labels:
    {{- include "go-echo7956a362-9ac2-49e6-adad-0ab4b29c5ccc.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echo7956a362-9ac2-49e6-adad-0ab4b29c5ccc.selectorLabels" . | nindent 4 }}
