apiVersion: v1
kind: Service
metadata:
  name: {{ include "go-echocb250065-640d-48e9-a0b3-ec19f26a6cc6.fullname" . }}
  labels:
    {{- include "go-echocb250065-640d-48e9-a0b3-ec19f26a6cc6.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.service.annotations | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      protocol: TCP
      name: svchttp
  selector:
    {{- include "go-echocb250065-640d-48e9-a0b3-ec19f26a6cc6.selectorLabels" . | nindent 4 }}
