apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-echo
  labels:
    app: go-echo
    kubernetes.azure.com/generator: devhub
  namespace: devhub-e2e-test-id-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: go-echo
  template:
    metadata:
      labels:
        app: go-echo
    spec:
      containers:
        - name: go-echo
          image: devhube2e39f483f2376e4c3e826df83c285f11d2.azurecr.io/kubeimage:latest:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 1323
